<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row  text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-5 col-md-5">
                <h5>About</h5>
              
                <p>
                Your number one source for all things tech. We're dedicated to giving you the very best of computer parts, with a focus on quality, price, brand.
             <br><br>
                We have the most premium brands such as INTEL, AMD, ASUS, MSI, DELL, APPLE, HYPERX, LOGITECH, KINGSTON, SEAGATE, WESTERN DIGITAL(WD), TOSHIBA, ASROCK, GIGABYTE,  HP,  ZOTAC, COOLERMASTER, GAMDIAS, NZXT, SADES, THERMALTAKE, GOLDEN FIELD, ADATA, PROLINK, RAZER, SONICGEAR, JADEL, GALAX, FANTECH and manuy more.
             <br><br>
                Visit our computer shop located at Gampaha.
            </p>
            </div>
            <div class="col-xs-12 col-sm-1 col-md-1"></div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5>CATEGORIES</h5>
                <ul class="list-unstyled quick-links">
                    <li><a (click)="vgaNav()"><i class="fa fa-angle-double-right"></i>Graphic-card</a></li>
                    <li><a  (click)=" motherboardNav()"><i class="fa fa-angle-double-right"></i>motherboard</a></li>
                    <li><a (click)="processorNav()"><i class="fa fa-angle-double-right"></i>processor</a></li>
                    <li><a (click)="memoryNav()"><i class="fa fa-angle-double-right"></i>Memory</a></li>
                    <li><a (click)="psuNav()"><i class="fa fa-angle-double-right"></i>Power-supply</a></li>
                    <li><a (click)="moniterNav()"><i class="fa fa-angle-double-right"></i>Moniter</a></li>
                    <li><a (click)="spkNav()"><i class="fa fa-angle-double-right"></i>Headset & speakers</a></li>
                    <li><a (click)="strNav()"><i class="fa fa-angle-double-right"></i>Storages</a></li>
                    <li><a (click)="kybMusNav()"><i class="fa fa-angle-double-right"></i>Keyboard & mouse</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>  <br>
                   <h6> contact us </h6>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>077 844 0286</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>ncpccomputers@gmail.com</a></li>
                    
                </ul>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-4 mt-sm-4">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-whatsapp"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
            
        </div>	
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p><u><a href="https://www.bootdey.com/">NcpcHouse.lk</a></u> </p>
                <p class="h6">Copyright© 2023 All Rights Reserved by <a class="text-green ml-2" href="" target="_blank">Ncpc Computers</a></p>
            </div>
            
        </div>	
    </div>
</section>
<!-- ./Footer -->

