<div *ngIf="filteredItems && filteredItems.length === 0" class= "container">
    <br><br><br><br><br>

    <div class="input-row">
        <div class="input-wrapper">
            <label class="userName">Invoice No</label>
            <input type="text" class="input" name="search" type="text" [(ngModel)]="invoiceNumber" (input)="applyInvoiceFilter()" placeholder="Search Invoice No..">
          </div>
      <div class="input-wrapper">
        <label class="userName">Date</label>
        <input id="date" class="input" name="date" type="date" [(ngModel)]="selectedDate" (change)="applyDateFilter()">
      </div> 
    
    </div>
    <br><br><br><br>

    <img src="assets/images/neworder.png" class="neworderimage"  data-aos="fade-down">
    
    <br><br>

    <h1  data-aos="fade-down"> haven't any orders ..</h1>

    <br><br><br>
</div>    








 <div *ngIf="filteredItems && filteredItems.length > 0" class="container">
    <br><br><br><br>
    <div class="input-row">
        <div class="input-wrapper">
            <label class="userName">Invoice No</label>
            <input type="text" class="input" name="search" type="text" [(ngModel)]="invoiceNumber" (input)="applyInvoiceFilter()" placeholder="Search Invoice No..">
          </div>
      <div class="input-wrapper">
        <label class="userName">Date</label>
        <input id="date" class="input" name="date" type="date" [(ngModel)]="selectedDate" (change)="applyDateFilter()">
      </div> 
    
    </div>




<h1>CONFIRMED ORDERS</h1>
<br>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<!-- 
   <div *ngIf="filteredItems.length === 0 && (invoiceNumber || invoiceNumber.trim() === '')">  

    <br><br>

    <img src="assets/images/thinking copy.png" class="thinkingImage" alt="thinking image">
    <br>
    <h1 style="color: aqua;">Sorry !..</h1><br>
    <h2 style="color: aliceblue; text-align: center;">There is no such invoice.</h2>
  </div>  -->
 
   -
 
<div class="card" *ngFor="let item of filteredItems" data-aos="fade-right" >
    <div class="card-details" >
    
    <div class ="row" >

      <div class="col-xl-2">
        <h4 class="invoiceNo"> Invoice No {{item.id}}</h4>
        <br>
        <h6>{{item.createdDate}}</h6>
        <h6>{{item.createdTime}}</h6>
      
      </div>

     

    <div class="col-xl-5">
        <h6>name &nbsp;&nbsp; : &nbsp;{{item.name}}</h6>
        <h6>address :&nbsp; {{item.address}} </h6>
        <h6>nic no  &nbsp;&nbsp; :&nbsp; {{item.nic}} </h6>
        <h6>email &nbsp;&nbsp;&nbsp; :&nbsp; {{item.email}}</h6>
        <h6>phone no :&nbsp; {{item.phoneNumber}}</h6>
    </div>

    <div class="col-xl-5">
        <table style="border: 1px solid;">
            <tr>
            <th>Items </th>
            <th>Quntity</th>
            <th>price</th>
            <th>SubTotal</th>
            </tr>
            <tr *ngFor="let product of item.products">
                <td>{{product.name}}</td>
                <td> {{product.qnt}}</td>
                <td>{{product.price}}</td>
                <td>{{product.qnt * product.price}}</td>

            </tr>
           
        </table>
        
    </div>

    <div class="row under">
    <div class="col-xl-8">
        <h3>Total price : Rs {{ calculateTotalPriceById(item.id) }}</h3>
    </div> 
    <div class="col-xl-4">
        <h3>  <p>{{item.states}} order</p></h3>
    </div> 
</div>
    </div>
</div>
   <button class="card-button" (click)="cancleNotify(item.id)"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> &nbsp; EMERGENCY CANCLE</button> 

</div> 


<br><br>

</div>



