body {
    min-height: 1000px; /* Set a minimum height of the viewport */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-color: #292828;
  }
