
<div class="sidebar">
    
    <br><br><br><br class="space_height">
<button (click)="vgaNav()" type="button">
    <span>GRAPHICS CARDS </span><img class="icon" src="assets\sideNav_Icon\graphic-card copy.png" >
    <div class="top"></div>
    <div class="left"></div>
    <div class="bottom"></div>
    <div class="right"></div>
</button>

<button (click)="motherboardNav()" type="button">
    <span>MOTHER BOARDS</span><img class="icon" src="assets\sideNav_Icon\motherboard.png" >
    <div class="top"></div>
    <div class="left"></div>
    <div class="bottom"></div>
    <div class="right"></div>
</button>

<button (click)="processorNav()" type="button">
    <span>PROCESSORS</span><img class="icon" src="assets\sideNav_Icon\processor copy.png" >
    <div class="top"></div>
    <div class="left"></div>
    <div class="bottom"></div>
    <div class="right"></div>
</button>

<button (click)="memoryNav()" type="button">
    <span>MEMORY</span><img class="icon" src="assets\sideNav_Icon\ram-memory copy.png" >
    <div class="top"></div>
    <div class="left"></div>
    <div class="bottom"></div>
    <div class="right"></div>
</button>

<button (click)="psuNav()" type="button">
    <span>POWER SUPPLY </span><img class="icon" src="assets\sideNav_Icon\power-supply copy.png" >
    <div class="top"></div>
    <div class="left"></div>
    <div class="bottom"></div>
    <div class="right"></div>
</button>

<button (click)="moniterNav()" type="button">
    <span>MONITERS</span><img class="icon" src="assets\sideNav_Icon\imac copy.png" >
    <div class="top"></div>
    <div class="left"></div>
    <div class="bottom"></div>
    <div class="right"></div>
</button>

<button (click)="spkNav()" type="button">
    <span>HEADSET & SPEAKERS</span><img class="icon" src="assets\sideNav_Icon\headphone copy.png" >
    <div class="top"></div>
    <div class="left"></div>
    <div class="bottom"></div>
    <div class="right"></div>
</button>

<button (click)="strNav()" type="button">
    <span>STORAGES</span><img class="icon" src="assets\sideNav_Icon\hard-disk copy.png" >
    <div class="top"></div>
    <div class="left"></div>
    <div class="bottom"></div>
    <div class="right"></div>
</button>

<button (click)="kybMusNav()" type="button">
    <span>KEYBOARDS & MOUSE</span><img class="icon" src="assets\sideNav_Icon\mouse copy.png" >
    <div class="top"></div>
    <div class="left"></div>
    <div class="bottom"></div>
    <div class="right"></div>
</button>

</div>

