@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.container{

    margin-top: 150px;
    width: 600px;
}

.lock{
    position: relative;
    font-size: 100px;
   margin-bottom: 20px;
}
.form-control{
     height: 40px;
    margin-top: 30px;
}

.btn-primary{

    margin-top: 30px;
    width: 100px;
}


[data-aos="fade-up"] {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-in-out, transform 0.5s ease-in-out;
  }
  
  [data-aos="fade-up"].aos-animate {
    opacity: 1;
    transform: translateY(0);
  }