<br><br><br><br><br>

<div class="container" data-aos="fade-down">
    <div class="row">
        <div class="col-md-6">
           

            <div class="project-info-box">
                <h3><b>Name : </b> {{moniter.name}} Motherboard </h3>
                <br>
                <h3><b>Price : </b> {{moniter.price}}</h3>
                
            </div>


            <div class="project-info-box mt-0">
                <h4>MOTHERBOARD DETAILS</h4> <br>
                <h6 class="mb-0">{{moniter.details}}</h6>
            </div>

          
        </div>

        <div class="col-md-6">
            <br>
            <img src="{{moniter.imageUrl}}" alt="project-image" class="rounded">
        </div>
    </div>
    <button class="btn btn-primary" (click)="updateMoniter(moniter.id)"> <i class="fa fa-pencil" aria-hidden="true"></i> &nbsp; Edit</button>
    <button class="btn btn-danger" (click)="DeleteBox(moniter.id)">  <i class="fa fa-trash" aria-hidden="true"></i>  &nbsp; Delete</button>

</div>


