<br><br><br><br><br>

<div class="container" data-aos="fade-down">
    <div class="row">
        <div class="col-md-6">
           

            <div class="project-info-box">
                <h3><b>Name : &nbsp; </b> {{spec.name}} </h3>
                <br>
                <h3><b>Price &nbsp; : &nbsp;  </b>RS {{spec.price}}</h3>
                
            </div>


            <div class="project-info-box mt-0">
                <h4>POWER SUPPLY DETAILS</h4> <br>
                <h6 class="mb-0">{{spec.details}}</h6>
            </div>

          
        </div>

        <div class="col-md-6">
            <br>
            <img src="{{spec.imageUrl}}" alt="project-image" class="rounded">
        </div>
    </div>
    <button class="btn btn-outline-primary" (click)="updateSpeacker(spec.id)"> <i class="fa fa-pencil" aria-hidden="true"></i> &nbsp; EDIT</button>
    <button class="btn btn-outline-danger" (click)="DeleteBox(spec.id)">  <i class="fa fa-trash" aria-hidden="true"></i>  &nbsp; DELETE</button>

</div>


