body{
    background:#eee;    
    }
    
    .card-box {
        position: relative;
        color: #fff;
        padding: 20px 10px 40px;
        margin: 20px 0px;
        min-height: 140px;
    }
    .card-box:hover {
        text-decoration: none;
        color: #f1f1f1;
    }
    .card-box:hover .icon i {
        font-size: 100px;
        transition: 1s;
        -webkit-transition: 1s;
    }
    .card-box .inner {
        padding: 5px 10px 0 10px;
    }
    .card-box h3 {
        font-size: 27px;
        font-weight: bold;
        margin: 0 0 8px 0;
        white-space: nowrap;
        padding: 0;
        text-align: left;
    }
    .card-box p {
        font-size: 15px;
    }
    .card-box .icon {
        position: absolute;
        top: auto;
        bottom: 5px;
        right: 5px;
        z-index: 0;
        font-size: 72px;
        color: rgba(0, 0, 0, 0.15);
    }
    .card-box .card-box-footer {
        position: absolute;
        left: 0px;
        bottom: 0px;
        text-align: center;
        padding: 3px 0;
        color: rgba(255, 255, 255, 0.8);
        background: rgba(0, 0, 0, 0.1);
        width: 100%;
        text-decoration: none;
    }
    .card-box:hover .card-box-footer {
        background: rgba(0, 0, 0, 0.3);
    }
    .bg-blue {
        background-color: #00c0ef !important;
    }
    .bg-green {
        background-color: #00a65a !important;
    }
    .bg-red {
        background-color: #f32c12 !important;
    }
    .bg-lightblue {
        background-color: #526efcac !important;
    }
    .bg-lightgreen{
        background-color: #5eafffbd !important;
    }
 .bg-customer{
      background-color: #00e1ffbd !important;
  }




   
    h1{
        text-align: center;
        color: #eee;
    }



















    /* animation */

    [data-aos="fade-up-right"] {
        opacity: 0;
        transform: translateX(50px) translateY(50px);
        transition: opacity 0.8s ease-in-out, transform 0.5s ease-in-out;
      }
      
      [data-aos="fade-up-right"].aos-animate {
        opacity: 1;
        transform: translateX(0) translateY(0);
      }
      
      [data-aos="fade-up-left"] {
        opacity: 0;
        transform: translateX(-50px) translateY(50px);
        transition: opacity 0.8s ease-in-out, transform 0.5s ease-in-out;
      }
      
      [data-aos="fade-up-left"].aos-animate {
        opacity: 1;
        transform: translateX(0) translateY(0);
      }
      
      [data-aos="fade-up"] {
        opacity: 0;
        transform: translateY(50px);
        transition: opacity 0.8s ease-in-out, transform 0.5s ease-in-out;
      }
      
      [data-aos="fade-up"].aos-animate {
        opacity: 1;
        transform: translateY(0);
      }
      
      [data-aos="fade-right"] {
        opacity: 0;
        transform: translateX(-50px);
        transition: opacity 0.8s ease-in-out, transform 0.5s ease-in-out;
      }
      
      [data-aos="fade-right"].aos-animate {
        opacity: 1;
        transform: translateX(0);
      }
      
      [data-aos="fade-left"] {
        opacity: 0;
        transform: translateX(50px);
        transition: opacity 0.8s ease-in-out, transform 0.5s ease-in-out;
      }
      
      [data-aos="fade-left"].aos-animate {
        opacity: 1;
        transform: translateX(0);
      }