body {
    background-image: url('https://wallpapertag.com/wallpaper/middle/3/7/6/174164-download-free-dark-grey-background-1920x1080-computer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
  }
  