
<div class="sidebar">
    
    <br><br><br><br class="space_height">

<button (click)="onDashbord()">
    <span>DASHBOARD </span><img class="icon" src="assets\sideNav_Icon\dashboard.png" >
    <div class="top"></div>
    <div class="left"></div>
    <div class="bottom"></div>
    <div class="right"></div>
</button>

    
<button (click)="onVga()">
    <span>GRAPHICS CARDS </span><img class="icon" src="assets\sideNav_Icon\graphic-card copy.png" >
    <div class="top"></div>
    <div class="left"></div>
    <div class="bottom"></div>
    <div class="right"></div>
</button>

<button (click)="onMotherboard()">
    <span>MOTHER BOARDS</span><img class="icon" src="assets\sideNav_Icon\motherboard.png" >
    <div class="top"></div>
    <div class="left"></div>
    <div class="bottom"></div>
    <div class="right"></div>
</button>

<button (click)="onProcessor()">
    <span>PROCESSORS</span><img class="icon" src="assets\sideNav_Icon\processor copy.png" >
    <div class="top"></div>
    <div class="left"></div>
    <div class="bottom"></div>
    <div class="right"></div>
</button>

<button (click)="onMemory()">
    <span>MEMORY</span><img class="icon" src="assets\sideNav_Icon\ram-memory copy.png" >
    <div class="top"></div>
    <div class="left"></div>
    <div class="bottom"></div>
    <div class="right"></div>
</button>

<button (click)="onPsu()">
    <span>POWER SUPPLY </span><img class="icon" src="assets\sideNav_Icon\power-supply copy.png" >
    <div class="top"></div>
    <div class="left"></div>
    <div class="bottom"></div>
    <div class="right"></div>
</button>

<button (click)="onMoniter()">
    <span>MONITERS</span><img class="icon" src="assets\sideNav_Icon\imac copy.png" >
    <div class="top"></div>
    <div class="left"></div>
    <div class="bottom"></div>
    <div class="right"></div>
</button>

<button (click)="onSpeacker()" >
    <span>HEADSET & SPEAKERS</span><img class="icon" src="assets\sideNav_Icon\headphone copy.png" >
    <div class="top"></div>
    <div class="left"></div>
    <div class="bottom"></div>
    <div class="right"></div>
</button>

<button (click)="onStorage()">
    <span>STORAGES</span><img class="icon" src="assets\sideNav_Icon\hard-disk copy.png" >
    <div class="top"></div>
    <div class="left"></div>
    <div class="bottom"></div>
    <div class="right"></div>
</button>

<button (click)="onKeyboardMouse()">
    <span>KEYBOARDS & MOUSE</span><img class="icon" src="assets\sideNav_Icon\mouse copy.png" >
    <div class="top"></div>
    <div class="left"></div>
    <div class="bottom"></div>
    <div class="right"></div>
</button>

</div>

